# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
*.dbmdl
*.bak
*.log

# Dependency folders
packages/
node_modules/

# Publish output
wwwroot/lib/
wwwroot/dist/

# Configuration
appsettings.Development.json
appsettings.*.json

# Others
*.swp
*.tmp
*.temp
